PORT=5000
# Option A: Local MongoDB (if installed locally)
MONGO_URI=mongodb://localhost:27017/qr-print-db

# Option B: Shared Free Cloud MongoDB Atlas (Recommended for teams)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/autoprint?retryWrites=true&w=majority

JWT_SECRET=super_secret_jwt_key_change_in_production
SERVER_URL=http://localhost:5000
